body{
    background-color:grey;
}
.invoer{
    margin:0 auto;
    width:700px;
    height:200px;
    background-color:#DEB887;
}
.keuze{
    margin:0 auto;
    width:700px;
    height:150px;
    background-color: 	#FFF8DC;
    position: relative;
}
#word{
    margin-top:30px;
    margin-left: 30px;
    margin-right:131px;
    display:inline-block;
    font-size:22px;
}
#check{
    margin-left:30px;
    margin-right:10px;
    display:inline-block;
    font-size:22px;
}
.input1{
    border: 0.1px solid #A9A9A9;
    margin-top:10px;
    display:inline-block;
    background-color:white;
    height:40.2px;
    width:371px;
}
#doel{
    margin-left:5px;
    font-size:30px;
    display:inline;
}
#input2{
    position:relative;
    display:inline-block;
    margin-right:50px;
    font-size:30px;
}
#button{
    margin-left:280px;
    padding:5px 15px;
}
#button2{
    padding:5px 15px;
}
.postition{
    margin:0 auto;
    width:300px;
    height:100px;
    position: absolute;
    left:50px;
    top:0px;
}
#plek0{
    margin-top:30px;
    margin-left:90px;
    margin-right:20px;
    border: 1px solid black;
    width:80px;
    height:80px;
    display:inline-block;
    text-align:center;
    line-height:80px;   
    font-size:32px;
    background-color:white;
}
#plek1{
    margin-right:20px;
    border: 1px solid black;
    width:80px;
    height:80px;
    display:inline-block;
    text-align:center;
    line-height:80px; 
    font-size:32px; 
    background-color:white;
}
#plek2{
    margin-right:20px;
    border: 1px solid black;
    width:80px;
    height:80px;
    display:inline-block;
    text-align:center;
    line-height:80px; 
    font-size:32px;
    background-color:white;
}
#plek3{
    margin-right:20px;
    border: 1px solid black;
    width:80px;
    height:80px;
    display:inline-block;
    text-align:center;
    line-height:80px;  
    font-size:32px;
    background-color:white;
}
#plek4{
    margin-right:20px;
    border: 1px solid black;
    width:80px;
    height:80px;
    display:inline-block;
    text-align:center;
    line-height:80px; 
    font-size:32px;
    background-color:white;
}